// Define variables for your color scheme

// For example:
// $red: #487AFA;
// $blue: #487AFA;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
$red: #487AFA;
$dark-blue: #1446A0;
$light-green: #ECFFB0;
$green: #77DD98;

$gray: #424242;
$light-gray: #F9F9F9;

$booked: #9CDD7E;
$unavailable: #A3A3A3;
$available: #DDDDDD;

$morning: #FFF5A0;
$afternoon: #FFDFA0;
$night: #A0C0FF;
