<% if @unshow_menu_bar == false %>
<div class="bottom-navbar">
  <a href="cafes">
    <div class="navbar-item align-middle active" id="search-tab">
      <i class="fas fa-search"></i>
    </div>
  </a>
  <a href="users/<%= @user.id %>/bookings">
    <div class="navbar-item align-middle" id="bookings-tab">
      <i class="far fa-calendar-alt"></i>
    </div>
  </a>
  <a href="#">
    <div class="navbar-item align-middle" id="bookmarks-tab">
      <i class="far fa-bookmark"></i>
    </div>
  </a>
  <a href="users/sign_out">
    <div class="navbar-item align-middle" id="profile-tab">
      <i class="far fa-user-circle"></i>
    </div>
  </a>
</div>
<% end %>

<% if @unshow_action_bar == false %>
  <div class="bottom-navbar justify-content-between p-3">
    <h6 class="align-self-center m-0">Price: <strong>$10</strong>/hour</h6>
    <%= link_to "View Availability", new_cafe_user_booking_path(Cafe.find(params[:id]), current_user), class: 'btn btn-primary align-self-center' %>
  </div>
<% end %>
