<div class="bottom-navbar">
  <div class="navbar-item align-middle active" id="search-tab">
    <i class="fas fa-search"></i>
  </div>
  <div class="navbar-item align-middle" id="bookings-tab">
    <i class="far fa-calendar-alt"></i>
  </div>
  <div class="navbar-item align-middle" id="bookmarks-tab">
    <i class="far fa-bookmark"></i>
  </div>
  <div class="navbar-item align-middle" id="profile-tab">
    <i class="far fa-user-circle"></i>
  </div>
</div>
