.card-title.card-date {
  font-weight: bold;
}

.cafe-title {
  font-weight: bold;
  font-size: 20px;
}

.cafe-time {
  font-weight: italic;
}

p.card-date {
  margin: 0;
}

.card-date-time {
  margin-bottom: 16px;
}

.cafe-edit-delete i{
  font-size: 21px;
  margin-right: 5px;
}

.cafe-edit-delete .far {
  margin-right: 0;
}
