.sort-btn {
  background-color: white;
  border-radius: 4px;
  padding: 4px 8px;
  border: 1px solid gray;
}

.active-sort-btn {
  background-color: $primary;
  border-radius: 4px;
  padding: 4px 8px;
  border: 1px solid gray;
}

.review-btn {
  font-size: 14px;
}
