.sort-btn {
  background-color: white;
  border-radius: 4px;
  padding: 4px 8px;
  border: 1px solid gray;
}

.active-sort-btn {
  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  border: 1px solid gray;
}

.review-btn {
  font-size: 14px;
}

.back-btn {
  margin: 0px 5px;
  padding: 1px 12px;
  background-color: rgba(255,255,255,0.6);
  color: $blue;
  border-radius: 50px;
  font-size: 20px;
  position: sticky;
  z-index: 9999;
}

.order-btn {
  border-radius: 4px;
  padding: 2px 12px;
  float: right;
  background-color: $dark-blue;
  color: white;
  margin: 4px 0;
  font-size: 14px;
}

.order-btn.inactive {
  opacity: .3;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 2px 13px;
}

.order-btn:hover {
  text-decoration: underline;
}

.order-btn.inactive {
  text-decoration: none;
}

.dashboard-btn {
  padding: 8px 16px;
  background-color: $dark-blue;
  color: white;
  border-radius: 4px;
}

.dashboard-btn:hover {
  text-decoration: none;
}
