.tag-btn {
  border-radius: 4px;
}

.tag-btn .active {
  background-color: grey;
}

.small-tag {
  font-size: 12px;
  border-radius: 4px;
  background-color: $light-gray;
  padding: 4px 8px;
  text-align: center;
  margin: 0 4px;
}

.ambience_tags {
  position: absolute;
  left: 8px;
  bottom: 80px;
}
