.cafe-name {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.cafe-tags {
  margin-top: 10px;
}

.cafe-description {
  margin-top: 20px;
}

#map {
  margin-top: 10px;
  margin-bottom: 105px;
}

.show-schedule {
  padding: 10px 15px;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 5px;
  height: 85px;
  z-index: 100;
  border-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.show-price {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

.view-schedule {
  background-color: blue;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
}

.show-heading {
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
}

.rating-name {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.fas.fa-star,
.far.fa-star {
  color: #FEC602;
  font-size: 20px;
}

.cafe-rating {
  margin-top: 10px;
  margin-bottom: 10px;
}

.empty-stars .far.fa-star {
  color: #FEC602;
}
