.customer-info img {
  border-radius: 50%;
  height: 40px;
  margin-right: 10px;
}

.customer-info {
  display: flex;
  align-items: center;
}

.initials {
  width: 20%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Roboto Slab";
  font-size: 29px;
  border-radius: 50%;
  margin-left: 10px;
  min-height: 80%;
}
