.add-cafe i {
  font-size: 16px;
}

.add-cafe {
  margin: 16px 3px;
}

.card-cafe h4 {
  font-size: 12px;
}

.menu-seats {
  margin-top: 12px;
}

.dashboard {
  margin-bottom: 100px;
}

.fa-edit,
.fa-trash-alt {
  font-size: 18px;
  color: $gray;
  margin-right: 4px;
  margin-top: 8px;
}
