.card-cafe {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  margin: 0 auto;
  margin-top: 16px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.cafe-image, .card-cafe img{
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-cafe h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-cafe h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-cafe p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-cafe .card-cafe-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-cafe-infos .card-cafe-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cafe-price {
  position: absolute;
  left: 8px;
  top: 8px;
  padding: 4px 12px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.card-product {
  overflow: hidden;
  height: 80px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-product img {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  flex-grow: 1;
}

.booking-info-card {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.booking-info-card h1 {
  font-size: 18px;
  font-weight: bold;
}

.booking-info-card h3 {
  font-size: 16px;
  font-weight: bold;
}

.booking-info-card p {
  margin: 0;
}


.div-link {
  display: block;
}

.div-link {
  text-decoration: none;
  color: black;
}

.div-link, .div-link:hover, .div-link:active, .div-link:visited, .div-link:focus {
    text-decoration:none;
}

.cafe-name {
  color: #1446A0;
}
