.menu-item {
  background-color: white;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
}


.far.trash-menu-item {
  font-size: 16px;
}

.menu-description {
  opacity: .5;
  font-size: 12px;
  word-wrap: break-word;
}
