.time-slot p {
  margin: 0 4px;
}


.time-slot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $available;
  align-items: center;
  padding: 8px 10px;
  margin: 4px 0px;
  border-radius: 5px;
}


.time-slot.unavailable {
  color: white;
  background-color: $unavailable;
}

.time-slot.booked {
  background-color: $booked;
  color: white
}

.time-slot.active {
  background-color: $dark-blue;
  color: white;
}

.slot-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


// .set-defaults {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }

.slots {
  margin-top: 12px;
}

#total-price {
  margin-top: 30px;
  margin-bottom: 16px;
  text-align: center;
}

.hidden {
  display: hidden;
}

.booking-container {
  margin-bottom: 100px;
}

.price-input, .seats-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-input input, .seats-input input, .slot-container input {
  width: 36px;
  margin-bottom: 0;
}


.date-today-text {
  font-size: 19px;
  font-weight: bold
}

.price-input label, .seats-input label, .slot-container label {
  margin-bottom: 0;
}

.slot-container label {
  text-align: center;
  flex-grow: 1;
  margin-right: 12px;
  // background-color: $blue;
  border-radius: 4px;
  padding: 8px 10px;
}
.slot-container .morning {
  background-color: $morning;
  color: $gray;
}

.slot-container .afternoon {
  background-color: $afternoon;
  color: $gray;
}

.slot-container .evening {
  background-color: $night;
  color: $gray;
}
